/* Color variables */

$back__ground: #5cdb95;
$logo__buttons: #05386b;
$accent__one: #379683;
$accent__two: #379683;
$text__color: #edf5e1;

/* arrays colors */

$buble__one: #f8e9a1;
$buble__two: #a8d0e6;

$heap__one: #f76c6c;
$heap__two: #374785;

$merge__one: #fccd04;
$merge__two: #a64ac9;

$quick__one: #f5e6cc;
$quick__two: #17e9e0;

/* .App {
  text-align: center;

  background-color: #5cdb95;
  height: 100vh;
} */
/* .container {
}

.App-logo {
  height: 45px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
